.homepage-image-container {
    height: 30vh;
    width: 100%;
}

.main-homepage-image {

    height: 60vh;
    width: 100%;
}

.test-1 {
    height: 130px;
    font-size: 30px;
    margin-top:20px;
    padding-top: 40px;
    background-color:#ffec8b;
    text-align: center;
   

   
    
}

.test-2 {
    height: 130px;
    margin-top:20px;
    font-size:30px;
    padding-top:40px;
    background-color: #bebebe;
    text-align: center;
    
   
}

.test-3 {
    height: 130px;
    margin-top:20px;
    font-size:30px;
    padding-top: 40px;
    background-color: #b22222;
    text-align: center;

   
}

.homepage-title {
    margin-left:0;
}
.homepage-sub-header {
    margin-left:0;
}

.navbar-elvis {
    position:relative;
    background-color:white;
    font-size: 25px;
    font-weight:300px;
    height: 25px;
    display:inline-block;
    width:100vh;
    color:red;
}

.navbar-artist {
    font-size: 40px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 10px;
}

.uppercase {
    text-transform: uppercase
}

.section-heading {
    background-color: #fff803;
    text-align: center;
    font-size: 30px;
}
.nav-color{
    color:red;
}
.music{
    letter-spacing: 10px;
    text-shadow: !important;
}

.film{
    letter-spacing: 10px;
    text-shadow: !important;
}

.auto{
    letter-spacing: 10px;
    text-shadow: !important;
}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.wrapper{
    width: 100vw;
    margin-left:75px;
}